<style>
<!--
body {  font-family: Arial, Helvetica, sans-serif; color : gray; }
A { text-decoration : none; color : #C18026; }
A:Hover { text-decoration : underline; color : #C18026; }
.top10box {
	border: 1px dashed #E2B16C;
}
A.top10 { text-decoration : none; color : #003366; }
A.top10:Hover { text-decoration : underline; color : #003366; }
-->
</style>